@use "../mixins/mixins" as *;
@use "../colors/colors" as *;
@use "../fonts/fonts" as *;

.ip-output {
   font-family: $font-family;
   width: 80%;
   margin: -6.5rem auto 0;
   padding: 2rem;
   background-color: $White;
   border: 1px solid;
   border-radius: 0.5rem;
   @include flexbox(space-between, center, 0);
   > div:not(:first-child) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-left: 0.1rem solid $Dark-Gray;
   }
   > div {
      padding-right: 2rem;

      h2 {
         font-size: 0.8rem;
         font-weight: $font-500;
         text-transform: uppercase;
         color: $Dark-Gray;
         margin-bottom: 0.8rem;
      }
      p {
         font-size: 1.9rem;
         font-weight: $font-500;
      }
   }
}
